* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .container {
    
    width: 90%;
    max-width: 34.37em;
    position: relative;
    margin: 3.12em auto;
    padding: 3.12em 1.25em;
    border-radius: 0.43em;
    
    z-index: 2;
  }
  input[type="file"] {
    display: none;
  }
  label {
    display: block;
    position: relative;
    background-color: #025bee;
    color: #ffffff;
    font-size: 1.12em;
    font-weight: 500;
    text-align: center;
    width: 18.75em;
    padding: 1.12em 0;
    margin: auto;
    border-radius: 0.31em;
    cursor: pointer;
  }
  #num-of-files {
    color: white;
    font-weight: 400;
    text-align: center;
    margin: 1.25em 0 1.87em 0;
  }
  ul {
    color: white;
    list-style-type: none;
    margin-top: 15px;
  }
  .container {
    text-align: center;
    margin-top: 50px; /* Adjust margin-top to position the container slightly lower */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1; /* Make sure the overlay covers the entire page */
}

  button {
    padding: 15px 30px; /* Adjust padding to reduce button size */
    font-size: 18px; /* Reduce font size */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition effect */
    margin-top: auto; /* Push the button to the bottom */
}

button:hover {
    background-color: #0056b3; /* Change background color on hover */
}
#background-video {
    position: fixed; /* Fixed position so it covers the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
    z-index: -1; /* Place the video behind other content */
  }